@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #141414;
}

#header {
    text-align: center;
}

#header #video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 110%;
    min-height: 110%;
    z-index: -1;
}

#header #title {
    position: fixed;
    top: 30%;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#header #title h1 {
    font-size: 55px;
}

#header #title hr {
    margin-left: 30%;
    margin-right: 30%;
}

#header #title h2 {
    font-size: 25px;
}

#header #title button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 2.5px;
    cursor: pointer;
}

#navbar-right {
    position: fixed;
    margin: 0;
    left: 25px;
    top: 0;
    padding: 5px;
    display: flex;
    list-style-type: none;
    color: white;
}

#navbar-right img {
    width: 50px;
}

#navbar-right p {
    padding-left: 10px;
}

#navbar {
    list-style-type: none;
    position: fixed;
    margin: 0;
    right: 0 ;
    top: 10px;
    padding: 10px;
    display: flex;
    color: white;
}

#navbar li {
    margin-right: 25px;
    color: white;
}

#navbar a {
    text-decoration: none;
}

#content {
    text-align: center;
    margin-top: 15%;
    margin-left: 5%;
    color: white;
}

#content button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 2.5px;
    cursor: pointer;
}

#footer {
    position: fixed;
    margin: 0;
    right: 0 ;
    bottom: 0 ;
    padding: 5px;
    display: flex;
    list-style-type: none;
    color: white;
}